<div class="container-fluid category-header">
    <div class="row">
        <div class="category-header-title text-center col-xs-6 col-xs-offset-3">
            <h2>Plates</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="product-list">
            <li class="product-list-container text-center col-xs-4" ng-repeat="item in ctrl.productList">
                <a ui-sref="product({ productId: {{ $index }} })"><div class="product-list-image" style="background-image: url('/assets/i/{{ item.image }}')"></div></a>
                <p class="product-list-info product-list-info-brand">{{ item.brand }}</p>
                <p class="product-list-info product-list-info-title">{{ item.title }}</p>
                <p class="product-list-price">{{ item.price | currency : "$" : 2 }}</p>
            </li>
        </ul>
    </div>
</div>
