<div class="nav-row row">
    <div class="nav-cell col-xs-4"><img src="/assets/i/logo.png" alt="Hero" title="Hero" />
    </div><div class="nav-cell col-xs-4 text-center">
        <ul class="list-inline">
            <li class="nav-item"><a class="nav-link" ui-sref="store">Home</a></li>
            <li class="nav-item" uib-dropdown>
                <a class="nav-link" href uib-dropdown-toggle>Shop <span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a href ng-click>Men</a></li>
                    <li><a href ng-click>Women</a></li>
                    <li><a href ng-click>Kids</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href ng-click>Journal</a></li>
            <li class="nav-item" uib-dropdown>
                <a class="nav-link" href uib-dropdown-toggle>More <span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a href ng-click>About Us</a></li>
                    <li><a href ng-click>Site Map</a></li>
                    <li><a href ng-click>Customer Service</a></li>
                </ul>
            </li>
        </ul>
    </div><div class="nav-cell col-xs-4 text-right">
        <ul class="list-inline">
            <li uib-dropdown>
                <a id="MyCart" class="nav-link" href uib-dropdown-toggle>
                    My Cart (<span ng-bind="ctrl.cart.length"></span>) <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <ul class="nav-cart">
                        <li ng-if="ctrl.cart.length === 0">
                            <div class="nav-cart-row row">
                                <div class="col-xs-12 text-center">
                                    <p class="nav-cart-info nav-cart-info-title">Cart is empty</p>
                                </div>
                            </div>
                        </li>
                        <li class="nav-cart-item" ng-repeat="item in ctrl.cart">
                            <div class="nav-cart-row row">
                                <div class="col-xs-4">
                                    <a ui-sref="product({ productId: {{ ctrl.getProductIndex(item.product) }} })"><div class="nav-cart-image" style="background-image: url('/assets/i/{{ item.product.image }}')"></div></a>
                                </div>
                                <div class="col-xs-6">
                                    <p class="nav-cart-info nav-cart-info-title"><a class="nav-cart-link" ui-sref="product({ productId: {{ ctrl.getProductIndex(item.product) }} })">{{ item.product.title }}</a> <span class="nav-cart-qty">x {{ item.qty }}</span></p>
                                    <p class="nav-cart-info nav-cart-info-brand">{{ item.product.brand }}</p>
                                    <p class="nav-cart-info nav-cart-info-price">{{ (item.product.price * item.qty) | currency : "$" : 2 }}</p>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <a class="nav-cart-link" href ng-click="ctrl.changeCart('remove', item.product, '', '', $event);"><i class="fa fa-close"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="nav-cart-footer" ng-if="ctrl.cart.length > 0">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="nav-cart-total clearfix">
                                    <div class="pull-left">
                                        Total
                                    </div>
                                    <div class="pull-right">
                                        {{ ctrl.calculateTotal() | currency : "$" : 2 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-cart-row row">
                            <div class="col-xs-6">
                                <a class="nav-cart-button nav-cart-button-cart text-center" ui-sref="cart">View Cart</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="nav-cart-button nav-cart-button-checkout text-center" href ng-click>Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
