<div class="container-fluid">
    <div class="row">
        <div class="product-detail-breadcrumb text-center col-xs-12">
            <a class="product-detail-breadcrumb-link" ui-sref="category">Home</a> /
            <a class="product-detail-breadcrumb-link" ui-sref="category">Plates</a> /
            <span class="product-detail-breadcrumb-link product-detail-breadcrumb-link-current">{{ product.title }}</span>
        </div>
    </div>
</div>

<div class="product-detail-container container">
    <div class="row">
        <div class="col-xs-8">
            <img class="product-detail-image" ng-src="/assets/i/{{ product.image }}" alt="{{ product.title }}" title="{{ product.title }}" />
        </div>

        <div class="text-center col-xs-4">
            <p class="product-detail-info product-detail-info-brand">{{ product.brand }}</p>
            <p class="product-detail-info product-detail-info-title">{{ product.title }}</p>
            <p class="product-detail-info-price">{{ product.price | currency : "$" : 2 }}</p>
            <p class="product-detail-info product-detail-info-description">{{ product.description }}</p>

            <hr />

            <div class="row">
                <div class="product-action col-xs-4">
                    <span class="product-action-qty" ng-bind="ctrl.qtyToAdd">1</span>
                    <div class="product-action-increment-container">
                        <a href ng-click="ctrl.qtyToAdd = ctrl.qtyToAdd + 1;" class="product-action-increment">+</a>
                        <a href ng-click="ctrl.qtyDecrease();" class="product-action-increment">-</a>
                    </div>
                </div>
                <div class="product-action col-xs-4">
                    <a href ng-click="ctrl.addCart(product, ctrl.qtyToAdd);" class="product-action-btn">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
