<div class="container-fluid">
    <div class="row">
        <div class="product-detail-breadcrumb text-center col-xs-12">
            <a class="product-detail-breadcrumb-link" ui-sref="category">Home</a> /
            <a class="product-detail-breadcrumb-link" ui-sref="category">Plates</a> /
            <a class="product-detail-breadcrumb-link" ui-sref="category">[title]</a>
        </div>
    </div>
</div>

<div class="product-detail-container container">
    <div class="row">
        <div class="col-xs-8">
            <img class="product-detail-image" src="/assets/i/hand-painted-blue-flat-dish.jpg" alt="" title="" />
        </div>

        <div class="text-center col-xs-4">
            <p class="product-detail-info product-detail-info-brand">qqq Kiriko</p>
            <p class="product-detail-info product-detail-info-title">qqq Hand Painted Blue Flat Dish</p>
            <p class="product-detail-info-price">qqq $28.00</p>
            <p class="product-detail-info product-detail-info-description">qqq Lorem ipsum description</p>

            <hr />
        </div>
    </div>
</div>
